{% extends "__template.html" %}

{% block article %}
<h2>Faça contato</h2>
<p> Preencha os campos abaixo para entrar em contato com nossa equipe <strong>do site</strong></p>
<p class="center red">* Campos obrigatórios</p>
<form action="#" method="post">

    <p>
        <label for="fieldName">Seu nome:</label>
        <input type="text" name="name" id="fieldName" required minlength="3">
    </p>

    <p>
        <label for="fieldEmail">Seu email:</label>
        <input type="email" name="email" id="fieldEmail" required>
    </p>

    <p>
        <label for="fieldSubject">Assunto:</label>
        <input type="text" name="subject" id="fieldSubject" required minlength="5">
    </p>

    <p>
        <label for="fieldMessage">Mensagem:</label>
        <textarea name="message" id="fieldMessage" required minlength="5"></textarea>
    </p>
    <p>
        <button type="submit"><i class="fa-solid fa-share fa-fw"></i> Enviar</button>
        <small>&larr; Clique somente uma vez</small>
    </p>


</form>

{% endblock %}


{% block aside %}

<h3><i class="fa-solid fa-plus fa-fw"></i> Contatos</h3>

<p>Acesse nossas redes sociais para mais.</p>

<div>
    {{page.redeSocial|safe}}
</div>

<img src="{{page.qrcode}}" alt="QR Code" style="width: 100%; margin-top: 2rem;">

{% endblock %}